* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
    margin-top: 6rem;
}
.search-container{
    margin-bottom: 5rem;
    width: 100%;
}
input{
    width: 400px;
    height: 45px;
    border: none;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    outline: none;
    padding: 1rem;
}
.search-btn{
    width: 150px;
    height: 45px;
    border: 2px solid #fff;
    background-color: #000;
    color: aliceblue;
    border-radius: 9px;
    outline: none;
    cursor: pointer;
}
ul{
    margin-bottom: 2rem;
    list-style: none;
    padding: 10px;
    /* text-align: center; */
}
li{
    padding: 1rem;
}
a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
}
.name-container{
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media(max-width:600px){
    .search-container{
       display: grid;
    }
    input{
        margin-bottom: 2rem;
    }
}

@media(max-width:400px){
    .name-container{
        width: 100%;
        height: 100%;
    }
    input{
        width: 300px;
        height: 45px;
    }
    .search-btn{
        width: 70px;
        height: 45px;
    }
}